.redCircle {
  height: 40px;
  width: 40px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
}

.yellowCircle {
  height: 40px;
  width: 40px;
  background-color: #ff0;
  border-radius: 50%;
  display: inline-block;
}

.greenCircle {
  height: 40px;
  width: 40px;
  background-color: #0f0;
  border-radius: 50%;
  display: inline-block;
}

.greyCircle {
  height: 40px;
  width: 40px;
  background-color: #440;
  border-radius: 50%;
  display: inline-block;
}

.blackCircle {
  height: 40px;
  width: 40px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}
