/* @import '~antd/dist/antd.less'; */

.Login {
  height: 50vh;
  text-align: center;
  vertical-align: middle;
}

.Title {
  background: greenyellow;
}

.ant-layout-content {
  height: 500px;
  background: rgba(255, 255, 200, 1);
  margin: 10rem;
}
