/* @import '~antd/dist/antd.less'; */

.loginForm {
  width: 30rem;
  height: 400px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5%;
  padding-top: 20px;
  border-width: 10px;
  border: solid;
  background-color: rgba(150, 150, 150, 1);
  border-color: rgba(100, 100, 100, 1);
}

.userNameForm {
  text-align: center;
  width: 29.6rem;
  vertical-align: middle;
  margin-top: 15px;
}

.userNameInput {
  width: 29.6rem;
  height: 3rem;
  vertical-align: middle;
}

.passwordForm {
  margin-top: 10px;
  text-align: center;
  width: 29.6rem;
  vertical-align: middle;
}

.passwordInput {
  width: 29.6rem;
  height: 3rem;
  vertical-align: middle;
}

.remeberMe {
  text-align: left;
  width: 30rem;
  vertical-align: middle;
  margin-left: 10px;
}

.submitButtonArea {
  margin-top: 25px;
  padding-left: 0px;
  margin-left: 0px;
}

.submitButton {
  background: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1);
  text-align: left;
  width: 29.6rem;
  height: 4rem;
  margin-left: 0;
  padding-left: 0;
  padding-top: 10px;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 1.7rem;
  font-family: fantasy;
  font-weight: 900;
}

.title {
}
