/* @import '~antd/dist/antd.less'; */

.loginScreen {
  border-width: 1px;
  box-shadow: 5px 5px 15px rgba(230, 230, 230, 1);
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.title {
  position: relative;
  width: 280px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(38, 184, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.footer {
  position: relative;
  width: 280px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  background-color: rgba(230, 220, 220, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.footerText {
  font-size: 12px;
}

.titleText {
  position: absolute;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
}

.loginForm {
  width: 280px;
  height: 220px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  background-color: white;
  border-color: rgba(100, 100, 100, 1);
  margin-left: auto;
  margin-right: auto;
}

.userNameForm {
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.userNameInput {
  vertical-align: middle;
  border-radius: 15px;
  height: 36px;
  background-color: rgba(230, 230, 220, 1);
}

.passwordForm {
  text-align: center;
  vertical-align: middle;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 12px;
  margin-bottom: 0px;
}

.passwordInput {
  vertical-align: middle;
  border-radius: 15px;
  height: 36px;
  background-color: rgba(230, 230, 220, 1);
  margin-bottom: 0px;
}

.passwordInput > #basic_password {
  background-color: rgba(230, 230, 220, 1);
  margin-bottom: 0px;
}

.remeberMe {
  text-align: left;
  width: 30rem;
  vertical-align: middle;
  margin-left: 10px;
}

.submitButtonArea {
  margin-top: 15px;
  margin-right: 16px;
  margin-left: 16px;
}

.submitButton {
  background-color: rgba(250, 100, 100, 1);
  text-align: center;
  border-radius: 18px;
  height: 36px;
  text-align: center;
  font-weight: 900;
  border-width: 0px;
  width: 244px;
}

.title {
}
