/* @import '~antd/dist/antd.less'; */

.loginForm {
  height: 500px;
  background: rgba(255, 255, 0, 1);
  text-align: center;
  vertical-align: middle;
}

.userNameForm {
  background: rgba(0, 255, 0, 1);
  text-align: center;
  width: 30rem;
  vertical-align: middle;
}

.userNameInput {
  background: rgba(200, 200, 0, 1);
  width: 30rem;
  height: 3rem;
  vertical-align: middle;
}

.passwordForm {
  background: rgba(0, 255, 0, 1);
  text-align: center;
  width: 30rem;
  vertical-align: middle;
}

.passwordInput {
  background: rgba(200, 200, 0, 1);
  width: 30rem;
  height: 3rem;
  vertical-align: middle;
}

.remeberMe {
  background: rgba(0, 255, 0, 1);
  text-align: left;
  width: 30rem;
  vertical-align: middle;
}

.submitButtonArea {
  background: rgba(0, 255, 0, 1);
  padding-left: 0px;
  margin-left: 0px;
}

.submitButton {
  background: rgba(255, 0, 0, 1);
  text-align: left;
  width: 30rem;
  height: 4rem;
  margin-left: 0;
  padding-left: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 1.7rem;
  font-family: fantasy;
  font-weight: 900;
}

.title {
}
